.navbar{
    .navbar-links{
        .brand{
            a{
                text-decoration: none;
                font-size: 1.5rem;
                
            }
            a:hover{
                background:none;
                color: #444;
            }
        }
        li{
            padding: 10px 20px;
            display: inline-block;
            a{
                background:none;
                text-decoration: none;
                font-size: 1.2rem;
            }
            a:hover{
                background: none;
                color:#444;
            }
        }
    }
}

.btn{
    :hover{

    }
}
